html {
    min-height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    background-color: rgb(29, 52, 44);
    line-height: 7px;
    color: beige;
}

svg {
    background-color: rgb(199, 236, 191);
    border-radius: 10px;
    color: rgb(28, 28, 28);
    font-weight: 700;
}

#canvas {
    min-height: 600px;
    min-width: 1200px;
}

#tooltip {
    visibility: hidden;
    height: auto;
    width: auto;
    margin-bottom: 18px;
}